  <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>


  <div class="container">
    <div class="header">
      <div class="logo"> 
        <h1>Alan's website</h1>
      </div>
      <div class="nav">
        <div class="mxn1">
          <a href="#!" class="button button-narrow button-nav-light">Hello World!</a>
          <a href="#!" class="button button-narrow button-nav-light">Hello World!</a>
          <a href="#!" class="button button-narrow button-nav-light">Hello World!</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="main">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, magnam delectus quidem quisquam. Amet vitae sunt quis ex itaque rerum pariatur, nostrum. Quidem illo similique perspiciatis officiis consequuntur tempora numquam.
      </div>
      <aside>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quam nam nulla iusto? Officia similique consectetur dicta quo expedita doloremque corrupti accusantium, perferendis, cupiditate nemo quod id placeat, beatae nam.
      </aside>
    </div>
  <footer>
    <p>lol</p>
  </footer>
  </div>
