<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alan's Todo App</title>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/4.2.2/basscss.min.css" rel="stylesheet">
  <link href="../../assets/stylesheets/todos.css.scss" rel="stylesheet">
</head>
<body>
  <div id="container">
    <header>
      <h1>
        Alan's Todo List
      </h1>
      <ul> 
        <li><%= link_to 'New', new_todo_path %></li>
      </ul>
    </header>
  </div>
</body>
</html>