<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alan's Todo App</title>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/4.2.2/basscss.min.css" rel="stylesheet">
  <link href="../../assets/stylesheets/todos.css.scss" rel="stylesheet">
</head>
<body>
  <div id="container">
    <header>
      <h1>
        Alan's Todo List
      </h1>
      <ul> 
        <li><%= link_to 'New', new_todo_path %></li>
      </ul>
    </header>
    <p>
      <% @todo.each do |f| %>
      <%= link_to f.text, f  %>
      <% end %>
    </p>

    <form id="add-todo">
  <p>
    <label for="todo-text">Text</label>
    <input type="text" id="todo-text">
  </p>
  <p>
    <label for="todo-notes">Notes</label>
    <textarea id="todo-notes"></textarea>
  </p>
  <p>
    <input check type="checkbox" id="todo-completed" value="1">
    <label for="todo-completed">Done?</label>
  </p>
  <p>
    <input type="submit" value="Add Todo">
  </p>
</form>
  </div> 
<script src="../../assets/javascripts/application.js"></script>
</body>
</html> -->

  <input type="text" id="todo-text">